main {
  display: flex;
  justify-content: center;
  font-family: Arial;
  color:rebeccapurple;
}

main > .ContactUs {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
  
}

footer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.form-wrapper {
display: flex;
justify-content: center;
}

.form-title-section {
  text-align: center;
  margin-bottom: 40px;
}